*{
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
  width: 80%;
  margin: auto;
}
/* Start header*/
header{
  background-color: rgb(57, 140, 250);
  position: sticky;
  height: auto;
}
header .header-bigger{
  display: flex;
}
header .header-bigger .Essam a{
  font-size: 17px;
  text-decoration: none;
  color: white;
}
header .header-bigger .Essam a:hover{
  color: red;
  background-color: white;
  border-radius: 5px;
  transition: 1.5s;
}
header .header-bigger .header-box{
  padding-top: 25px;
}
header .header-bigger .header-box h2{
  padding: 15px;
  width: 225px;
  border-radius: 8px;
  transition: 0.5s;
  background-color: white;
  color: coral;
  text-decoration: none;
}
header .header-bigger .header-box h2 a{
  text-decoration: none;
  color: coral;
}
header .header-bigger .header-box h2 a:hover{
  color: white;
}
header .header-bigger .header-box h2:hover{
  background-color: coral;
  color: white;
  font-size: 30px;
  padding: 22px;
}
header .header-bigger .header-box p{
  margin-top: 25px;
  padding-bottom: 10px;
}
header .header-bigger .header-box p a{
  font-size: 20px;
  color: lavender;
  text-decoration: none;
  
}
header .header-bigger .header-box p a:hover{
  color: orangered;
}
/*End Header*/
/*Start main section*/
section{
  background-color: rgb(145, 206, 241);
  padding-top: 50px;
  padding-bottom: 15px;
}
section .main-div .circle{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: white;
}
section .main-div .circle:last-of-type{
  margin-left: 800px;
  width: 160px;
  height: 160px;
  margin-top: -85px;
  border: 8px solid white;
  background-color: crimson;
}
.section .main-div{
  padding-top: 25px;
}
section .main-div .main-middle{
  display: flex;
  margin-top: 25px;
 
}
section .main-div .left-column{
  margin-top: 50px;
} 
section .main-div .left-column h1{
  color: crimson;
  font-size: 30px;
}
section .main-div .left-column button{
  padding: 15px 60px;
  font-size: 30px;
  background-color: rgb(247, 39, 39);
  color: white;
  border-radius: 12px;
  margin-top: 20px;
  transition: 0.5s;
  cursor: pointer;
}
section .main-div .left-column button:hover{
  background-color: white;
  color: rgb(245, 96, 96);
}
section .main-div .main-middle img{
  width: 400px;
  height: 400px;
  margin-left: 100px;
  border-radius: 50%;
  border-width: 8px;
  border-style: solid;
  border-color: white;
  
}
/*End main section*/
/*start footer*/
footer{
  background-color: grey;
  text-align: center;
  padding-top: 50px;
}

footer p{
  padding-bottom: 50px;
}