*{
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
  width: 80%;
  margin: auto;
}
/* Start header*/
header{
  background-color: rgb(57, 140, 250);
  position: sticky;
  height: auto;
}
header .header-bigger{
  display: flex;
}
header .header-bigger .Essam a{
  font-size: 17px;
  text-decoration: none;
  color: white;
}
header .header-bigger .Essam a:hover{
  color: red;
  background-color: white;
  border-radius: 5px;
  transition: 1.5s;
}
header .header-bigger .header-box{
  padding-top: 25px;
}
header .header-bigger .header-box h2{
  padding: 15px;
  width: 225px;
  border-radius: 8px;
  transition: 0.5s;
  background-color: white;
  color: coral;
  text-decoration: none;
}
header .header-bigger .header-box h2 a{
  text-decoration: none;
  color: coral;
}
header .header-bigger .header-box h2 a:hover{
  color: white;
}
header .header-bigger .header-box h2:hover{
  background-color: coral;
  color: white;
  font-size: 30px;
  padding: 22px;
}
header .header-bigger .header-box p{
  margin-top: 25px;
  padding-bottom: 10px;
}
header .header-bigger .header-box p a{
  font-size: 20px;
  color: lavender;
  text-decoration: none;
  
}
header .header-bigger .header-box p a:hover{
  color: orangered;
}
/*End Header*/
/*Start main section*/
section{
  background-color: rgb(145, 206, 241);
  padding-top: 50px;
  padding-bottom: 15px;
}
section .main-div {
  padding-top: 30px;
  
}
section .main-div .row{
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
section .main-div .row div{
  width: 350px;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}
section .main-div .row div i{
  font-size: 45px;
  color: white;
  background-color: rgb(57, 140, 250);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-top: 10px;
  padding: 5px;
  transition: 1s;
}
section .main-div .row div i:hover{
  color: rgb(57, 140, 250);
  background-color: gray;
}
section .main-div .row div h2{
  margin-top: 20px;
}
section .main-div .row div h2 a{
  text-decoration: none;
  color: rgb(57, 140, 250);
}
section .main-div .row div h2 a:hover{
  color: white;
  background-color: rgb(57, 140, 250);
  border-radius: 10px;
  transition: 0.5s;
}
/*End main section*/
/*start footer*/
footer{
  background-color: grey;
  text-align: center;
  padding-top: 50px;
}

footer p{
  padding-bottom: 50px;
}